   
     <strong><p>FROND END DEVELOPERS</p></strong>
  <table class="center"> 
      <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>DEPARTMENT</th>
      </tr>
    <tr *ngFor = "let item of data">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.Department}}</td>

    </tr>
</table>
<strong><p>BACKEND DEVELOPERS</p></strong>
<table class="center"> 
    <tr>
  <th>ID</th>
  <th>NAME</th>
  <th>DEPARTMENT</th>
    </tr>
  <tr *ngFor = "let item of data2">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.Department}}</td>

  </tr>
</table>
<strong><p>DEVESCOPS DEVELOPERS</p></strong>
<table class="center">  
    <tr>
  <th>ID</th>
  <th>NAME</th>
  <th>DEPARTMENT</th>
    </tr>
  <tr *ngFor = "let item of data3">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.Department}}</td>

  </tr>
</table>